.content {
    margin: 35px 200px;
    display: flex;
    grid-gap: 20px;
    justify-content: space-between;
    width: 60%;
}

.recomendation {
    /* border: 2px solid black; */
    height: 350px;
    width: 35%;
}

.innerContent {
    width: 73%;
}

.storis {
    height: 125px;
    width: 100%;
    /* border: 2px solid blue; */
    overflow-x: scroll;
    display: flex;
    padding: 6px 0;

}

.posts {
    width: 100%;
    margin-top: 30px;
}